{
  "presets": ["react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "react": "inferno-compat",
          "react-dom": "inferno-compat"
        }
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "external-helpers"
  ]
}
