{
  "presets": ["react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "react": "preact-compat",
          "react-dom": "preact-compat",
          "react-addons-transition-group": "preact-transition-group",
          "react-addons-css-transition-group": "preact-css-transition-group",
          "indexof": "component-indexof"
        }
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "external-helpers"
  ]
}
