{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "react/jsx-no-bind": 0,
    "space-before-function-paren": 0
  }
}